<!DOCTYPE html>
<html>
<head>
	<title>Newsfeed</title>
	<link rel="stylesheet" type="text/css" href="/newsfeed.css">
</head>


<body>
	<h1>Welcome to Poop Book, <%= @logged_in_user.username.capitalize %>!</h1>

<div class="friend_bar">

	<p>Choose a friend</p>
	  
	<select name="selected_user" form="chosen_friend">
		<% @users.each do |user| %>
			<option value="<%= user.username %>"> <%= user.username %> </option>
	  <% end %>
	</select>

		<form method="post" action="/friend" id="chosen_friend">
	  <input type="submit" value="Go to Chosen Page">
	  </form>

</div>

	<form method="post" action="/posts">
		<label> New Post:
			<input name="user_input" type="text"/>
		</label>

		<input type="submit"/>
	</form>

	<h3><u>Poopy Posts:</u></h3>

	<% @posts.each do |post| %>
	<li style ="list-style:none;margin-bottom:10px;margin-left: 5px;"> 
		<p><strong><%= @logged_in_user.username.capitalize%>:</strong>
			<%= post.content %>
			<% end %></p>
		</li>
	</body>
	</html>
